{% extends 'layouts/base.html' %}

{% block title %}Delete Product - SaaS POS{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Delete Product</h4>
            </div>
            <div class="card-body">
                <p>Are you sure you want to delete "{{ object.name }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'products:product_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
